.container {
    padding: 16px;
}

.searchContainer {
    position: relative;
    width: fit-content;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    z-index: 1;
}

.mainContainer {
    width: 100vw;
    max-width: 1200px;
}

.character {
    position: relative;
    margin: 16px;
    padding: 32px;
    z-index: 1;
}

.characterContainer {
    position: relative;
    z-index: 1;
    padding: 8px;
}

.characterName {
    color: white;
    font-size: 24px;
}

.characterMetadata {
    color: grey;
}

.characterImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.characterImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 0;
    box-shadow: black 0px 0px 32px -8px;
}

.equippedItemContainer {
    padding: 8px;
}

.equippeditem {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 400px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 4px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.item:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
    cursor: default;
}

.itemimage {
    background: rgba(255, 255, 255, 0.1);
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.iteminfo {
    display: flex;
    flex-direction: column;
    color: white;
}

.itemname {
    color: rgb(255, 157, 0);
    font-size: 12px;
}

.itemslotname {
    font-size: 12px;
}

.item {
}

.popup {
    position: absolute;
    z-index: 5;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: rgba(46, 48, 66, 0.5);
    backdrop-filter: blur(8px);
    padding: 16px;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.335) 0px 8px 20px 4px;
    color: white;
    font-size: 12px;
}

.popupname {
    color: rgb(218, 2, 218);
    font-weight: 600;
}

.itemslotarmor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
