.dungeonsContainer {
    margin: auto;
    padding: 40px 16px;
    max-width: 1200px;
}

.dungeonName {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin: 24px 0px 16px 0px;
    text-decoration: none;
}

.dungeonImage {
    position: relative; /* Add position relative to the grid item */
    display: flex;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide any overflowing content */
    border: 1px solid rgb(48, 48, 66);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    transition: 0.2s ease;
    text-decoration: none;
    margin-top: 24px;
}

.dungeonDescription {
    padding: 24px 0px;
    font-size: 16px;
    color: white;
}

.encountersHeading {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.encountersList {
    padding: 24px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
}

.encounterContainer {
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    background-size: cover;
    background: rgba(103, 109, 155, 0.1);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide any overflowing content */
    border: 1px solid rgb(48, 48, 66);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    transition: 0.2s ease;
    text-decoration: none;
    cursor: pointer;
}

.encounterContainer:hover {
    border: 1px solid rgb(0, 162, 255);
    box-shadow: rgb(0, 162, 255, 0.4) 0px 0px 16px 0px;
    outline: none;
    cursor: pointer;
}

.encounterName {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16x;
    color: white;
}

.dungeonMeta {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.dungeonMetadata {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.encounterDescription {
    font-size: 16px;
    color: white;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    z-index: 999;
    overflow-y: auto;
}

.modal {
    position: absolute;
    top: 32px;
    background: rgb(24, 26, 42, 0.9);
    border-radius: 16px;
    width: 700px;
    height: 800px;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 8px 64px 16px;
    overflow-y: auto;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.encountersContainer {
    padding: 40px 0px;
}

.encounterHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subHeader {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16x;
    color: white;
}

.lootContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.itemContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 4px 16px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition-duration: 0.2s;
}

.item:hover > .itemImage {
    transform: scale(1.1) translateX(-6px);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgb(0, 0, 0, 0.5) 4px 0px 8px 0px;
}


.itemHeader {
    display: flex;
    flex-direction: column;
}

.itemImage {
    height: 48px;
    width: 48px;
    border-radius: 6px;
    transition: 0.2s ease;
    border: 1px solid rgba(255, 255, 255, 0);
}

.itemName {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.itemLevel {
    font-size: 12px;
    color: white;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 12px;
    background: rgb(40, 44, 67);
}

.sectionHeader {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sectionTitle {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 208, 0);
}

.subSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subSection {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    border-radius: 8px;
    background: rgb(54, 59, 88);
}

.subSectionTitle {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 208, 0);
}

.subSectionDescription {
    font-size: 14px;
    color: white;
}

.itemPopup {
    position: fixed;
    z-index: 999;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background: rgb(24, 26, 42, 0.7);
    backdrop-filter: blur(8px);
    padding: 16px;
    margin-left: 8px;
    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 16px 16px 0px;
    color: white;
    font-size: 12px;
}

.popupname {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.popupitemlevel {
    color: rgb(255, 225, 0)
}

.itemslotarmor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.common {
    color: #AAAAAA; /* Common item color */
}

.uncommon {
color: #1EFF00; /* Uncommon item color */
}

.rare {
color: #0070DD; /* Rare item color */
}

.epic {
color: #A335EE; /* Epic item color */
}

.legendary {
color: #FF8000; /* Legendary item color */
}

.backButton {
    font-size: 12px;
    color: black;
    padding: 8px;
    border: 0px;
    border-radius: 8px;
    background: rgba(103, 109, 155, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}

.backButton:hover {
    border: 1px solid rgb(0, 162, 255);
    box-shadow: rgb(0, 162, 255, 0.4) 0px 0px 16px 0px;
    outline: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .modal {
        top: 64px;
        width: auto;
    }

    .itemPopup {
        width: 200px;
    }
}