.forumOuter {
    margin: 16px;
    width: 100vw;
    max-width: 1200px;
}

.forumContainer {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 16px;
    padding: 16px;
}

.forumRight {
    order: 1;
}

.forumLeft {
    display: flex;
    flex-direction: column;
    gap: 16px;
    order: -1;
}

.createPostHeader {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: rgba(103, 109, 155, 0.1);
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 8px;
    color: white;
    font-size: 12px;
}

.createPostContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background: rgba(103, 109, 155, 0.1);
    border-radius: 12px;
    padding: 16px;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 16px 16px -8px;
    z-index: 1;
}

.postOptions {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.postSelect {
    font-size: 12px;
    color: black;
    padding: 8px;
    border: 0px;
    border-radius: 8px;
    width: 100%;
    background: rgba(103, 109, 155, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}

.postSelect:focus {
    border: 1px solid rgb(0, 162, 255);
    box-shadow: rgb(0, 162, 255, 0.4) 0px 0px 16px 0px;
    outline: none;
}

.imageUploadButton {
    border: none;
    background: white;
    padding: 0px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.giphyLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.giphyIcon {
    height: 12px;
    width: auto;
}

.postInput {
    font-size: 12px;
    color: black;
    padding: 8px;
    border: 0px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    background: rgba(103, 109, 155, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}

.postInput:focus {
    border: 1px solid rgb(0, 162, 255);
    box-shadow: rgb(0, 162, 255, 0.4) 0px 0px 16px 0px;
    outline: none;
}

.postButton {
    background: rgb(255, 58, 58);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: white;
    padding: 8px 32px;
    border: 0px;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.categoryMainContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categoryHeader {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.categoryContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.category {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 8px;
    border-radius: 12px;
    width: 25%;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s ease;
}

.category:hover {
    border: 1px solid rgb(0, 162, 255);
}

.activeCategory {
    border: 1px solid rgb(0, 162, 255);
    box-shadow: rgb(0, 162, 255, 0.4) 0px 0px 16px 0px;
    background: rgba(103, 109, 155, 0.1);
}

@media (max-width: 768px) {
    .forumContainer {
      display: grid;
      grid-template-columns: 1fr;
    }

    .forumRight {
        order: -1;
    }
    
    .forumLeft {
        order: 1;
    }

    .categoryContainer {
        display: flex;
        flex-direction: column;
    }

    .category {
        box-sizing: border-box;
        width: 100%;
    }
  }