.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgba(103, 109, 155, 0.1);
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 8px;
  color: white;
  font-size: 12px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(103, 109, 155, 0.1);
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 8px;
  color: white;
  font-size: 12px;
}

.postTitle {
  font-family: 'Chakra Petch', sans-serif;
  cursor: pointer;
}

.postCategory {
  font-family: 'Chakra Petch', sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 4px;
  width: fit-content;
}
.postPosted {
  font-family: 'Chakra Petch', sans-serif;
  color: rgb(140, 140, 140);
}
.postAuthor {
  font-family: 'Chakra Petch', sans-serif;
  color: rgb(0, 162, 255);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
  z-index: 999;
  overflow-y: auto;
}

.modalContent {
    position: absolute;
    top: 32px;
    background: rgb(24, 26, 42);
    border-radius: 16px;
    width: 700px;
    height: 600px;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 8px;
    overflow-y: auto;
}

.postContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 24px;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modalPostTitle {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
}

.modalContentContainer {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 16px;
  background: rgba(103, 109, 155, 0.2);
}

.modalPostContent {
  font-size: 16px;
  white-space: pre-line;
}

.modalPostContent1 {
  background: transparent;
  border: 1px solid rgb(0, 162, 255);
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  white-space: pre-line;
  box-sizing: border-box;
  box-shadow: rgb(0, 162, 255) 0px 0px 32px -8px;
  width: 100%;
  color: white;
}

.modalButtons {
  display: flex;
  gap: 8px;
}

.editButton {
  background: none;
  border: none;
  padding: 0;
  color: rgb(137, 137, 137);
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
}

.deleteButton {
  background: none;
  border: none;
  padding: 0;
  color: rgb(255, 58, 58);
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
}

.modalPostContent li {
  list-style-position: inside;
}

.saveButton {
  background: none;
  border: none;
  padding: 0;
  color: rgb(0, 162, 255);
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
}

.cancelButton {
  background: none;
  border: none;
  padding: 0;
  color: rgb(137, 137, 137);
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
}

.commentForm {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  gap: 8px;
  z-index: 1;
}

.commentInput {
  font-size: 12px;
  color: black;
  padding: 8px;
  border: 0px;
  border-radius: 8px;
  width: 70%;
}

.commentButton {
  background: rgb(255, 58, 58);
  font-size: 12px;
  font-weight: 700;
  color: white;
  padding: 8px 32px;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  height: fit-content;
  width: 30%;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 16px;
  background: rgba(103, 109, 155, 0.1);
}

.modalCommentContent1 {
  background: transparent;
  border: 1px solid rgb(0, 162, 255);
  border-radius: 8px;
  padding: 16px;
  white-space: pre-line;
  box-sizing: border-box;
  box-shadow: rgb(0, 162, 255) 0px 0px 32px -8px;
  width: 100%;
  color: white;
}


@media (max-width: 768px) {
  .modalContent {
    top: 64px;
    width: 80%;
  }

  .commentForm {
    flex-direction: column;
  }

  .commentButton {
    width: 100%;
  }

  .commentInput {
    box-sizing: border-box;
    width: 100%;
  }
}