.container {
    width: 100vw;
    max-width: 1200px;
}

.infoContainer {
    display: grid;
    grid-template-columns: 6fr 3fr;
    margin: 16px;
    gap: 16px;
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    order: -1;
}

.postContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: rgba(103, 109, 155, 0.1);
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 8px;
    color: white;
    font-size: 12px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: rgba(103, 109, 155, 0.1);
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 8px;
    color: white;
    font-size: 12px;
}

.profileInfoUsername {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 24px;
}

.profileUsernameContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.profileInfoEmail {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.profileEditButton {
    height: max-content;
    background: none;
    color: rgb(187, 187, 187);
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 1.2px;
    border: 1px solid rgb(76, 76, 76);
    border-radius: 32px;
    padding: 4px 8px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }

  .usernameContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .usernameField {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 24px;
    font-weight: 600;
    background: transparent;
    border: 1px solid rgb(0, 162, 255);
    border-radius: 8px;
    padding: 16px;
    white-space: pre-line;
    box-sizing: border-box;
    box-shadow: rgb(0, 162, 255) 0px 0px 32px -8px;
    width: 100%;
    color: white;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .saveButton {
    background: none;
    border: none;
    padding: 0;
    color: rgb(0, 162, 255);
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
  }
  
  .cancelButton {
    background: none;
    border: none;
    padding: 0;
    color: rgb(137, 137, 137);
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
  }

  .previousButton {
    background: none;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
  }

  .nextButton {
    background: none;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
  }

  .nextButton:hover, .previousButton:hover {
    color: rgb(0, 162, 255);
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .h2Header {
    font-family: 'Chakra Petch', sans-serif;
  }

  .bookmarkedCharactersContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: rgba(103, 109, 155, 0.1);
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 8px;
    color: white;
    font-size: 12px;
  }

  .bookmarkedCharacterContainer2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .bookmarkedCharacter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    background: rgba(103, 109, 155, 0.1);
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 8px;
    color: white;
    font-size: 12px;
    text-transform: capitalize;
    transition: 0.2s ease;
    text-decoration: none;
  }

  .bookmarkedCharacter:hover {
    border: 1px solid rgb(0, 162, 255);
    cursor:pointer;
  }

  .characterName {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    color: white;
  }

  .characterRealm {
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(140, 140, 140);
  }

  .removeBookmarkButton {
    color: rgb(140, 140, 140);
    font-size: 14px;
    transition: 0.2s ease;
  }

  .removeBookmarkButton:hover {
    color: rgb(255, 58, 58);
    cursor: pointer;
    transform: scale(1.2);
  }

  .decoration {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  @media (max-width: 768px) {
    .infoContainer {
      display: grid;
      grid-template-columns: 1fr;
    }

    .postsContainer {
      order: 1;
    }

    .profileInfoContainer {
      order: -1;
    }
  }